---
layout: default.pug
---

// mixin posts(collection)
//   - let titles = ''
//   each post in collections[collection]
//     - titles = titles + ',' + post.data.title
//   // Title
//   h2(data-posts=titles) #{collection}
//   //- Posts
//   ul
//     each post in collections[collection]
//       li(data-title=post.data.title)
//         a(href=post.url style={background: post.data.color})
//           span #{post.data.title}

section#hello

  p
    img.icon.new(src="/assets/new.gif")
    span in Kinopio, the thinking tool for new ideas and solving hard problems

  //   a(href="https://kinopio.club")
  //     button.button-to-kinopio Kinopio →
    // a(href="#footer")
    //   button Contact Support


section#index.index
  ul
    each post in collections.all
      li(data-title=post.data.title)
        a(href=post.url style={background: post.data.color})
          span #{post.data.title}
